* {
	/* font-family: "Myriad Pro"; */
	box-sizing:border-box;
}
html, body{
    margin: 0;
    padding: 0;
	background-color:#eeeeee;
	overflow-x: hidden;
	border-right: 4px solid #4a91df;
	border-left: 4px solid #4a91df;
	z-index:5;
/*     background-image: url("https://th.bing.com/th/id/OIP.QexcnKLol8SaCraOMz2o6AHaFo?rs=1&pid=ImgDetMain");
	background-size: cover; */
}
nav {
	/* width:99.21%; */
	right:8px;
	left:8px;
	height:8.75vh;
	background-color:#eeeeee;
	position: fixed;
	padding:0;
	border-top: 8px solid #4a91df;
	border-bottom: 8px solid #4a91df;
	text-align: right;
	z-index: 4;
	/* vertical-align: middle; */
}
footer {
	width:100%;
	height:12vh;
	background-color:#fbde01;
	padding:0;
	border-top: 8px solid #4a91df;
	border-bottom: 8px solid #4a91df;
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap; 
}
#hero {
	width:100%;
	height:100vh;
	border-bottom: 8px solid #4a91df;
	padding:0;
	margin-top:6.5vh;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	text-align: center;
	/* overflow-clip-margin */
}
#heroi {
	width:100%;
	height:100vh;
	padding:0;
	margin:0;
	float:left;
	object-fit: cover;
}
#heroi2 {
	width:95%;
	padding:0;
	margin:0;
	/* float:left; */
	object-fit: cover;
	visibility: hidden;
}
#mobilehero {
	width:100%;
	padding:0;
	margin:0;
	float:left;
	object-fit: cover;
}
#motto {
	width:100%;
	height:43.5vh;
	/* background-color:#dfdfde; */
	margin-top: 12vh;
	text-align: center;
	margin-bottom:12vh;
}
.paratext {
	width:100%;
	height:32vh;
/* 	background-color:#dfdfde; */
	margin-top: 6vh;
	text-align:center;
	/* margin-bottom: 8vh; */
}
#igrid {
	width:100%;
	height:70vh;
	/* background-color:#dfdfde; */
	text-align:center;
	margin-bottom: 4vh;
}
.thead {
	width:100%;
	height:60vh;
	/* background-color:#dfdfde; */
	padding-top:6.5vh;
	background-position: center;
	background-size: contain;
	overflow: hidden;
	text-align: center;
	margin-bottom: 7vh;
	margin-top: 5vh;
}
.shead {
	width:100%;
	height:47vh;
	background-color:#fbde01;
	border-bottom: 8px solid #4a91df;
	text-align: center;
	border-top: 8px solid #4a91df;
}
.sheadt {
	padding-top:1vh;
	margin-top:0;
	margin-bottom:0;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 1.4vw;
	margin-left:21vw;
	margin-right:21vw;
}
.htitles {
	width:100%;
	height:30vh;
	/* background-color:#dfdfde; */
	margin-top: 13vh;
	text-align: center;
}
.htitle{
	margin-top:0;
	margin-bottom:0;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 11vh;
}	
.grid {
	width:100%;
	/* height:178vh; */
	/* background-color:#dfdfde; */
	text-align:center;
	display: flex;
	justify-content: center;
}
#contactt {
	width:100%;
	height:36vh;
	background-color:#fbde01;
	border-bottom: 8px solid #4a91df;
	text-align: center;
	border-top: 8px solid #4a91df;
}
.ctext {
	padding-top:5vh;
	margin-top:0;
	margin-bottom:0;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 2.8vh;
	margin-left:21vw;
	margin-right:21vw;
}
#contactb {
	display: flex;
	width:100%;
	height:37vh;
	/* background-color:#dfdfde; */
	text-align; center;
}
#contactfb{
	height:50%;
	margin-top: 2vh;
	margin-left: 2vh;
	display: inline;
}
#contactalign{
	text-align: center;
}
.ctextb {
	padding-top:5vh;
	margin-top:0;
	margin-bottom:0;
	margin-left:5.5vh;
	margin-right:5.5vh;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 2.8vh;
}
#contacti1{
	display: block;
	float:left;
	height: 90%;
	margin-top:1.75vh;
	margin-left:1.75vh;
}
#contacti2{
	display: block;
	float:right;
	height: 90%;
	margin-top:1.75vh;
	margin-right:1.75vh;
}
#logo {
	width:37%;
	height:49vh;
	padding:0;
	margin-top: 4vh;
	margin-left: auto;
	margin-right: auto;
/* 	display: block; */
	object-fit: cover;
	overflow: visible;
}
#nlogo {
	height:100%;
	margin-top: 0%;
	padding:0;
	object-fit: cover;
	margin-left: 2vh;
	overflow: visible;
	float: left;
}
#iconsh {
	height:85%;
	margin-top: 6px;
	/* float: right; */
}
#iconsi {
	height:78%;
	margin-top: 6px;
	/* float: right; */
}
#iconsp {
	height:80%;
	margin-top: 6px;
	/* float: right; */
}
#icontexth {
	margin-bottom: 45px;
	display: inline-block;
	color: #4a91df;
	font-size: 32px;
	vertical-align: middle;
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	padding-right: 40px;
	text-decoration:none;
}
.text{
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	text-decoration:none;
	font-size: 2.8vh;
	margin-left:21vw;
	margin-right:21vw;
}
#icontexte {
	margin-bottom: 45px;
	display: inline-block;
	color: #4a91df;
	font-size: 32px;
	vertical-align: middle;
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	padding-right: 40px;
	text-decoration:none;
}
#icontextc {
	margin-bottom: 45px;
	display: inline-block;
	color: #4a91df;
	font-size: 32px;
	vertical-align: middle;
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	padding-right: 40px;
	text-decoration:none;
}
.icontexton {
	margin-bottom: 45px;
	display: inline-block;
	color: #ec1f25;
	font-size: 32px;
	vertical-align: middle;
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	padding-right: 40px;
	text-decoration: none;
}
#mottoc {
	width:55%;
	margin-bottom:15vh;
}
.igsr {
	width: 15vw;
	height: 15vw;
	margin: 5vh;
	border: #ec1f25 solid 10px;
}
.igsy {
	width: 15vw;
	height: 15vw;
	margin: 5vh;
	border: #fbde01 solid 10px;
}
.igsb {
	width: 15vw;
	height: 15vw;
	margin: 5vh;
	border: #4a91df solid 10px;
}
.igsr2 {
	width: 15vw;
	height: 15vw;
	margin: 5vh;
	border: #ec1f25 solid 10px;
}
.igsy2 {
	width: 15vw;
	height: 15vw;
	margin: 5vh;
	border: #fbde01 solid 10px;
}
.igsb2 {
	width: 15vw;
	height: 15vw;
	margin: 5vh;
	border: #4a91df solid 10px;
}
#facebook {
	height:100%;
	margin-top: 1vh;
	margin-left: 2vh;
}
#ftalign {
	display:inline;
	width:6%;
	height:80%;
	position:fixed;
}
.footertext {
	display: block;
	font-size:15px;
	font-weight:600;
	font-family: "Open Sans", sans-serif;
	margin-left:0.5vh;
	margin-top: 0.75vh;
	margin-bottom: 1.25vh;
/* 	display: inline; */
}
#footerlogo {
	height:80%;
	margin-top: 1vh;
	float: right;
	margin-left: auto;
	margin-right: 1.25vh;
}
.opr {
	margin-left:5vw;
	margin-right:3.3vw;
	background-color:white;
	height: 58vh;
	width: 25%;
	border: 7px solid #ec1f25;
	margin-bottom: 16vh;
	/* display: inline; */
}
.opy {
	margin-left:3.3vw;
	margin-right:3.3vw;
	background-color:white;
	height: 58vh;
	width: 25vw;
	border: 7px solid #fbde01;
	margin-bottom: 16vh;
	/* display: inline; */
}
.opb {
	margin-left:5vw;
	margin-right:3.3vw;
	background-color:white;
	height: 58vh;
	width: 25%;
	border: 7px solid #4a91df;
	margin-bottom: 16vh;
	/* display: inline; */
}
.optext{
	display: border-box;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 2vw;
	margin:0;
	margin-bottom:3vh;
}
.oppic {
	height: 11vw;
}
.opinfo{
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	text-decoration:none;
	font-size: 1vw;
	margin:0;
	margin-top:3vh;
}
#footerlinks{
	width:100px;
	height:80%;
}
.gridlink{
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	text-decoration:none;
	font-size: 2.8vh;
	margin-left:32vw;
	color: #4a91df;
	position:fixed;
}
.gridlink:hover{
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	text-decoration: underline;
	font-size: 2.8vh;
	margin-left:32vw;
	color: #fbde01;
}
#br{
	display: border-box;
}
#burger {
    height:80%;
	margin-top:6px;
	margin-right:6px;
	margin-bottom:1%;
	padding:0;
	display:none;
	border:0;
}
#dropdown {
	margin-top: 8.75vh;
	width:97vw;
	overflow: hidden;
	height:0;
	background-color:#eeeeee;
	position:fixed;
	z-index:2;
	border-right: 4px solid #4a91df;
	transition: 0.75s;
}
#blinks{
	color: white;
    /* padding: 14px 16px; */
    text-decoration: none;
    display: block;
	text-align:center;
}
#bhome {
	color: black;
	border-top: 4px solid #4a91df;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 30px;
	display: block;
	border-bottom: 4px solid #4a91df;
  	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	text-decoration:none;
}
#bequipment {
	color: black;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 30px;
	display: block;
	border-bottom: 4px solid #4a91df;
  	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	text-decoration:none;
}
#bcontact {
	color: black;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 30px;
	display: block;
	border-bottom: 4px solid #4a91df;
  	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	text-decoration:none;
}
#close{
	float:right;
	border: 0px;
	padding:0;
	padding-top:4px;
	padding-right:6px;
	font-size:25px;
}
#slidecon {
  width:100%;
  position: relative;
  margin: auto;
  height:415px;
  display:none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#prev{
	position: absolute;
	top: 130px;
	left: 10px;
	font-size:30px;
}
#next{
	position: absolute;
	top: 130px;
	right: 10px;
	font-size:30px;
}
.slides{
	text-align: center;
}
.slideop{
	display: border-box;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 30px;
	margin-bottom:10px;
	margin-top:10px;
}
.slideimg{
	height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
/* 	border: #ec1f25 solid 5px; */
}
.slideinfo{
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	text-decoration:none;
	font-size: 15px;
	margin:0;
	margin-top:20px;
	margin-bottom:20px;
}
 #arrow{
	position:absolute;
	display: block;
	margin-left: auto; 
	margin-right: auto;  
	height:70px;
	width:70px;
	top:93%;
	left:47.33%;
}
@media (max-width: 900px) {
  #arrow{ 
	display: none;
  }
  #igrid {
	height:50vh;
  }
  .grid{
	display:none;
  }
  #contacti1{
	display:none;
  }
  #contacti2{
	display:none;
  }
  .ctextb {
	padding-top:5vh;
	margin-top:0;
	margin-bottom:0;
	margin-left:5.5vh;
	margin-right:5.5vh;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 3.5vw;
  }
  #contactfb{
	height:40%;
	margin-top: 2vh;
	margin-left: 2vh; 
  }
  .ctext {
	padding-top:4.5vh;
	margin-top:0;
	margin-bottom:0;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 3.5vw;
	margin-left:11vw;
	margin-right:11vw;
  }
  .htitles{
	display:none;
  }
  .sheadt{
   	font-size: 1.6vh;
	margin-left:10vw;
	margin-right:10vw;
  }
  .thead{
	height:260px
  }
  #footerlogo {
	display:none;
   }
  #mottoc{
	width:80% /* !important */;
	margin-bottom:15vh;
  }
/*   #heroi {
    display: none;
  } */
  #logo {
	display: none;
  }
  .icontexton, #icontexte, #icontextc, #icontexth, #iconsp, #iconsi, #iconsh{
	display: none; 
  }
  .igsr {
	width: 27vw;
	height: 27vw;
	margin-top: 5vh;
	margin-bottom: 0vh;
	margin: 3vh;
	border: #ec1f25 solid 5px;
  }
  .igsy {
	width: 27vw;
	height: 27vw;
	margin-top: 5vh;
	margin-bottom: 0vh;
	margin: 3vh;
	border: #fbde01 solid 5px;
  }
  .igsb {
	width: 27vw;
	height: 27vw;
	margin-top: 5vh;
	margin-bottom: 0vh;
	margin: 3vh;
	border: #4a91df solid 5px;
  }
   .igsr2 {
	width: 27vw;
	height: 27vw;
	margin-top: 5vh;
	margin-bottom: 0vh;
	margin: 3vh;
	border: #4a91df solid 5px;
  }
  .igsy2 {
	width: 27vw;
	height: 27vw;
	margin-top: 5vh;
	margin-bottom: 0vh;
	margin: 3vh;
	border: #fbde01 solid 5px;
  }
  .igsb2 {
	width: 27vw;
	height: 27vw;
	margin-top: 5vh;
	margin-bottom: 0vh;
	margin: 3vh;
	border: #fbde01 solid 5px;
  }
  .text{
  	font-size: 1.8vh;
	margin-left:10vw;
	margin-right:10vw;
  }
  #heroi2 {
	visibility: visible;
  }
  #br{
	display: none;
  }
  #motto {

	height:23.5vh;
  }
  #burger {
	display:inline-block;
  }
  #slidecon {
	display:block;
  }
}
@media (max-width: 650px) {
	#motto {
		height:13.5vh;
	}
	.footertext {
		font-size:1.25vh;
		margin-top: 1.25vh;
    }
	#footerlinks{
		width:25vw;
		height:80%;
	}
	#heroi {
		display: none;
	}
	#hero {
		height:88vh;
	}
}
/* @media (min-width: 19.5/9) {
	#nav{
		display: none;
	}
}	 */
/* .reset-this {
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    --------May need to alter quotes for different locales (e.g fr)
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
    --------basic modern patch
    all: initial;
    all: unset; */