html, body{
    margin: 0;
    padding: 0;
	background-color:#f1f1ee;
	overflow-x: hidden;
	border-right: 4px solid #4a91df;
	border-left: 4px solid #4a91df;
}
nav {
	width:99.21%;
	height:6.5vh;
	background-color:#f1f1ee;
	position: fixed;
	padding:0;
	border-top: 8px solid #4a91df;
	border-bottom: 8px solid #4a91df;
}
footer {
	width:100%;
	height:18.5vh;
	background-color:#fbde01;
	padding:0;
	margin-top: 24vh;
	border-top: 8px solid #4a91df;
	border-bottom: 8px solid #4a91df;
}
#hero {
	width:100%;
	height:100vh;
	border-bottom: 8px solid #4a91df;
	padding:0;
	margin-top:6.5vh;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	text-align: center;
	/* overflow-clip-margin */
}
@media (max-width: 450px) {
  #heroi {
    display: none;
  }
}
#heroi {
	width:100%;
	height:100vh;
	padding:0;
	margin:0;
	float:left;
	object-fit: cover;
}
#heroi2 {
	width:100%;
	height:100vh;
	padding:0;
	margin:0;
	float:left;
	object-fit: cover;
}
#motto {
	width:100%;
	height:43.5vh;
	background-color:#f1f1ee;
	margin-top: 12vh;
}
.paratext {
	width:100%;
	height:43.5vh;
	background-color:#f1f1ee;
	margin-top: 12vh;
}
#igrid {
	width:100%;
	height:70vh;
	background-color:#f1f1ee;
	margin-top: 11vh;
}
.thead {
	width:100%;
	height:46vh;
	background-color:#f1f1ee;
	border-bottom: 8px solid #4a91df;
	padding-top:6.5vh;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	text-align: center;
}
.shead {
	width:100%;
	height:30vh;
	background-color:#fbde01;
	border-bottom: 8px solid #4a91df;
}
.htitles {
	width:100%;
	height:30vh;
	background-color:#f1f1ee;
	margin-top: 9vh;
}
.grid {
	width:100%;
	height:178vh;
	background-color:#f1f1ee;
	margin-top: 16vh;
}
.sgrid {
	width:100%;
	height:50vh;
	background-color:#f1f1ee;
	margin-top: 16vh;
}
#contactt {
	width:100%;
	height:42vh;
	background-color:#fbde01;
	border-bottom: 8px solid #4a91df;
}
#contactb {
	width:100%;
	height:37vh;
	background-color:#f1f1ee;
}
#footercontact {
	width:100%;
	height:18.5vh;
	background-color:#fbde01;
	padding:0;
	border-top: 8px solid #4a91df;
	border-bottom: 8px solid #4a91df;
}
#logo {
	width:50%;
	height:46vh;
	padding:0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	object-fit: cover;
	overflow: visible;
}
@media (max-width: 700px) {
  #logo {
    display: none;
  }
}
/* ::-webkit-scrollbar {
  display: none;
} */